doctype html
html(lang='en')
  head
    title Test
    script
      :coffee-script
        console.log 'helloes worldses'
        require './api.js'
  body
    :markdown
      # Test
      Helloes, worldses!
