doctype html
html(lang='en')
  head
    title Test
    script
      :coffee-script
        console.log require('./test').msg
  body
    :markdown
      # Test
      Helloes, worldses!
    img#absolute(src='http://example.com/test.gif')
    img#relative(src='test.gif')
